.our_links{
    margin: 0px 40px;
    background-color:white;
    border-collapse: collapse;
    width: -webkit-fill-available;
    border: 2px solid black;
    box-shadow: 0 0 20px rgb(40 39 39 / 50%);
}

.our_links>thead>tr>th{
    border: 2px solid black;
    text-align: left;
    padding: 10px 5px;
}

.our_links>tbody>tr>td{
    padding: 5px;
    border: 1px solid black;
}

.our_links>tbody>tr>td>a{
    color: #244f89;
}

.our_links>thead>tr>.our_recs_head{
    font-size: 20px;
    text-align: center;
}

@media(max-width: 800px){
    .our_links{
        margin: 0px;
    }
}