/* Create Post */
.createpostbtn i{
    padding: 0px 10px;
}

.createpostbtn{
    margin-left: 10px;
    padding: 5px;
    /* padding-left: 20px; */
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(40 39 39 / 20%);
    background-color:white;
    color: #244f89;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    border: 0.1px solid black;
    transition: box-shadow .3s;
    cursor: pointer;
    /* height: 28px; */
    margin: auto 0;
    margin-left: 10px;
}


.createpostbtn:hover{
    box-shadow: 0 0 10px rgb(40 39 39 / 90%);
}



.add_post_modal {
    box-shadow: 0 0 20px rgb(40 39 39 / 80%);
    background-color: gainsboro;
    padding: 20px; /* Adjust padding as needed */
    position: fixed;
    z-index: 2;
    top: -1000px; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translateX(-50%); /* Center using translate */
    width: 80%;
    /* height: 600px; */
    opacity: 0%; /* Set opacity to 100% to make it visible */
    transition: opacity 1s, transform 1s; /* Combine transitions */
    font-family: Raleway;
    padding-bottom: 60px;
}

.close_new_post_modal:hover{
    cursor: pointer;

}


.vibe_create{
    display: block;
    margin: 12.5px 30px 0px 30px;
    padding: 15px;
    /* background-color: #e0e0e0; */
    /* border: .1px solid black; */
    border-radius: 7.5px;
    /* background-color: white
    /* background-image: linear-gradient(to bottom,white,#e6e4e4); */
    width: 85%;
    margin: auto;
}

.vibe_header_text{
    color: black;
    margin: auto;
    align-items: center;
    text-align:center;
}

.vibe_header_text h3{
    margin: 0px auto;
    font-size: 25px;
}

.vibe_header_text .post_summary_container p{
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    text-align: justify;
    font-weight: 500;
}

.vibe_header_text p{
    margin: 10px auto 25px;
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    padding: 5px 20px;
    /* text-align: justify; */
}

.vibe_create_header{
    display: flex;
    justify-content: space-between;
}


.vibe_title_input{
    border:none;
    /*box-shadow: 0 0 10px rgb(40 39 39 / 20%);*/
    background-color: white;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 50%); */
    margin: 2px;
    padding: 5px 0px 5px 10px;
    transition: box-shadow .3s;
    color: black;
}

.vibe_title_input::placeholder {
  color: black;
}


.create_dropdown_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.vibe_create_pickwhen{
    border:none;
    display: inline-grid;
}

.vibe_create_picksub{
    border: none;
    margin-top: 5px;
    width: 100%;
    display: inline-grid;
}

.vibe_create_pickbank{
    border: none;
    margin-top: 5px;
    width: 100%;
    display: inline-grid;
}

.vibe_pick_post_release, .vibe_pick_post_subject, .vibe_pick_post_bank{
    border: none;
    padding: 5px;
    /* box-shadow: 0 0 10px rgb(40 39 39 / 20%); */
    background-color: white;
    color: black;
    transition: box-shadow .3s;
    /* width: 100%; */
}

.vibe_create_textarea{
    width: -webkit-fill-available;
    border: none;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 50%); */
    margin: 10px 0px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px;
    transition: box-shadow .3s;
}

.vibe_create_textarea::placeholder{
    color: black;
}

.vibe_post_submit_btn{
    width: -webkit-fill-available;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(40 39 39 / 20%);
    background-color: white;
    color: black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.1px solid black;
    transition: box-shadow .3s;
    cursor: pointer;
}

.vibe_title_input:hover, .vibe_pick_post_release:hover, .vibe_create_textarea:hover, .vibe_pick_post_subject:hover, .vibe_pick_post_bank:hover{
    box-shadow: 0 0 2.55px rgb(40 39 39 / 90%);
}

.vibe_pick_post_release:hover, .vibe_pick_post_subject:hover, .vibe_pick_post_bank:hover{
    cursor: pointer;
}


.vibe_post_submit_btn:hover{
    box-shadow: 0 0 7.5px rgb(40 39 39 / 90%);
}