body{
    margin: 0px;
}

.body_div_body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: xkgl-n4, adobe-notdef;
    background-color: #7391ba;
}

.nav_bar_sticky{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 4rem 5rem; */
    align-items: center;
    z-index: 100;
    width: 100%;
    transition: 0.6s;
    background-image: linear-gradient(to bottom,white,#e6e4e4);
    color: rgb(50, 68, 121);
    border-bottom: 2px solid black;
}

img.logo{
    width: 275px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 10px;
}

.nav_cont_list{
    list-style: none;
    padding: 0px;
    display: inline-block;
    margin-left: 325px;
}

.nav_cont_list>li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav_cont_list>li>a{
    font-family: Arial, Helvetica, sans-serif;
    color: #244f89;
    height: 10px;
    width: auto;
    display: block;
    text-align: center;
    line-height: 10px;
    text-decoration: none;
}

.nav_cont_list>li>a:hover{
    text-shadow: 2px black;
    color: red;
    text-decoration: underline;
}

#dashicon{
    font-size: 30px;
}

.innernav_txt{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

.current_nav{
    text-decoration: underline;
    font-weight: bold;
}


@media(max-width: 985px){
    img.logo{
        display: none;
    }
    .nav_cont_list{
        margin-left: 0px;
        display:inline-block;
    }
}


@media(max-width: 675px){
    .nav_cont_list>li{
        padding-left: 5px;
        padding-right: 5px;
    }
    .innernav_txt {
        font-size: 12px;
    }
}

@media(max-width: 495px){
    .nav_cont_list>li{
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
    .innernav_txt {
        font-size: 10px;
    }
}

@media(max-width: 390px){
    .nav_cont_list>li{
        padding-left: 1px;
        padding-right: 1px;
    }
    .innernav_txt {
        font-size: 8px;
    }
}

@media(max-width: 310px){
    .nav_cont_list>li{
        padding-left: 1px;
        padding-right: 1px;
    }
    .innernav_txt {
        font-size: 7px;
    }
}


