@keyframes slideUp{
    from{
        transform: translateY(400px);
    }
    to{
        transform: translateY(0);
    }
    
}


body{
    margin: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    /* background: linear-gradient(to bottom right, #0d3874, #3b6297); */
    background-color: #ededed;
}

@keyframes slideInLeft{
    from{
        transform: translateX(-500px);
    }
    
    to{
        transform: translateX(0);
    }
}

.logocont{
  position: relative;
  left: 15px;
}


.body_div_body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    
    font-family: 'Raleway';
    /* background-color: #dedede; */
    overflow-y: clip;
    /* background-image: linear-gradient(0deg, #d0d0d0, #565555); */
}

@keyframes slideInLeft{
    from{
        transform: translateX(-500px);
    }
    
    to{
        transform: translateX(0);
    }
}

.nav_section{
    /* min-height: 90vh; */
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom right, #0d3874, #264d83);
}

nav{
    display: flex;
    margin: 0% 4%;
    padding: 1% 0%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 800;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.rms-textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    transition: 2.5s;
}

.rms-textbox h1{
    font-size: 62px;
}

.rms-textbox p{
    font-size: 14px;
    color: #fff;
    margin: 10px 0px 40px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}

nav .bi{
    display: none;
}

@media(max-width: 700px){
    .rms-textbox h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -600px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bi{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


.second_header_nav{
    display: flex;
    flex-direction: column;
}


.filter_title{
    /* margin-left: 80px; */
    padding-left: 6%;
}

.filter_title h5{
    margin: 0px;
    padding: 20px 0px;
    font-size: 28px;
    color: #f1f1f1;
}

.filter_holders{
    /* margin-left: 80px; */
    width: 600px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 30px;
    padding-left: 6%;
}

.filter_button{
    padding: 10px;
    color:#d0d0d0;
    font-weight: 600;
    margin-right: 10px;
    transition: .2s ease-in-out;
}

.filter_button:hover{
    cursor: pointer;
}

.filter_button::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.filter_button:hover::after{
    width: 100%;
}


.filter_button:last-child{
    margin-right: 0px
}

.selected_filter_button::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #4d4d4d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.selected_filter_button:hover::after{
    width: 0%;
}

.selected_filter_button{
    background-color: #dedede;
    color: #4d4d4d;
    border-radius: 10px;
}

.bodycont{
        /* background-image: linear-gradient(to bottom,white,#e6e4e4); */
        margin-left: 45px;
        margin-right: 45px;
        align-items: center;
        /* box-shadow: 0 0 100px rgb(40 39 39 / 100%); */
        /* padding: 5px; */
        padding-top: 20px;
        padding-bottom: 60px;
        background-color: #fbfbfb;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 100px;
        /* box-shadow: 0 0 5px rgb(122 122 122); */
        animation: slideUp 1.2s ease-in-out;
        border: 1px solid black;
}

.header{
    padding: 10px 50px;
    border-bottom: 5px solid #244f89;
    padding-bottom: 5px;
    background-color: #fbfbfb;
}

.header>h1{
    margin-top: 5px;
    text-align: center;
    color: #244f89;
    text-decoration: underline;
    margin-bottom: 0px;
}

.header>p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}

.pagelinks{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    height: 125px;
    position: relative;
    align-items: center;
}

.pagelinks_cont{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.pagelinks_cont > .changecont {
    display: flex;
    text-align: center;
    border-left: 2px solid #244f89;
    border-right: 2px solid #244f89;
    border-bottom: 4px solid #244f89;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    width: 100%;
    height: 98%;
    position: relative;
    top: 0;
}

.sectiontab{
    vertical-align: middle;
    margin: auto;
    font-size: 18px;
}

/* Common styles for menu items */
.get_start,
.gennwcont,
.send_emails,
.comp_pres,
.tech_int,
.behav_int,
.temps {
    padding: 25px;
    font-size: 18px;
    background-color: #fbfbfb;
    line-height: 30px;
    /*font-weight: 600;*/
}

.get_start > p,
.gennwcont > p,
.send_emails > p,
.comp_pres > p,
.tech_int > p,
.behav_int > p,
.temps > p{
    font-size: 18px;
    margin-top: 5px;
    padding: 0px 100px 0px 10px;
    text-align: justify;
    line-height: 30px;
    font-weight: 500;
}
.get_start > h3,
.gennwcont > h3,
.send_emails > h3,
.comp_pres > h3,
.tech_int > h3,
.behav_int > h3,
.temps > h3 {
    font-size: 20px;
    margin-top: 5px;
    padding: 0px 100px 0px 10px;
    text-align: justify;
    line-height: 30px;
    font-weight: 600;
}

.temps > h4{
    font-size: 18px;
    margin-bottom: 5px;
    padding: 0px 100px 0px 10px;
    text-align: justify;
    font-weight: 600;
}

.best,
.temps > ul > li {
    font-size: 18px;
    margin-bottom: 5px;
    padding: 0px 100px 0px 10px;
    text-align: justify;
    font-weight: 500;
}

.section_header {
    display: block;
    text-align: center;
}

/* Common styles for menu items */
.get_start,
.gennwcont,
.send_emails,
.comp_pres,
.tech_int,
.behav_int,
.temps {
    padding: 25px;
    font-size: 15px;
    background-color: #fbfbfb;
    font-weight: 500;
}

.gennwcont,
.send_emails,
.comp_pres,
.tech_int,
.behav_int,
.temps{
    display: none;
}

.changecont {
    color: #244f89;
    background-color: gainsboro;
    font-weight: bold;
    cursor: grab;
}

.changecont:hover {
    color: black;
    text-decoration: underline;
}

/* Unique styles for each menu item */
#gennw:hover {
    background-color: rgb(119, 21, 21);
}

#sendemails:hover {
    background-color: rgb(124, 89, 24);
}

#compres:hover {
    background-color: rgb(130, 101, 47);
}

#behav:hover {
    background-color: rgb(162, 162, 56);
}

#techint:hover {
    background-color: rgb(151, 135, 27);
}

#formats:hover {
    background-color: rgb(48, 91, 48);
}


/*List work*/
ol {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

li {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

.nested-list {
    list-style: none; /* Remove default list style */
    counter-reset: alphabet-counter; /* Reset the counter for nested lists */
}

.nested-list li {
    counter-increment: alphabet-counter; /* Increment the counter for each list item */
    margin-bottom: 5px; /* Adjust spacing between list items */
}

.nested-list li:before {
    content: counter(alphabet-counter, lower-alpha) ") "; /* Use lowercase alphabetical numbering */
    margin-right: 5px; /* Adjust spacing between numbering and list item text */
}


.nested-list-repo {
    list-style: none; /* Remove default list style */
    counter-reset: alphabet-counter; /* Reset the counter for nested lists */
}

.nested-list-repo li {
    counter-increment: alphabet-counter; /* Increment the counter for each list item */
    margin-bottom: 5px; /* Adjust spacing between list items */
}

.nested-list-repo li:before {
    content: counter(alphabet-counter, lower-alpha) ") "; /* Use lowercase alphabetical numbering */
    margin-right: 5px; /* Adjust spacing between numbering and list item text */
}











/* Media Edit Nav Bar */
@media(max-width: 1050px){
    .header{
        padding: 10px 0px;
    }
    .pagelinks{
        margin-right: 10px;
        height: 50px;
    }
    .pagelinks_cont{
        display: block;
    }
    .pagelinks_cont > .changecont {
        border-left: none;
        border-right: none;
    }
    .changecont{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text_cont{
        margin-top: 350px;
    }

}

@media(max-width: 550px){
    .bodycont{
        width: 90%;
    }
}

.best-sum{
    padding-left: 6.8%;
    padding-right: 15%;
    text-align: justify;
    color:#d0d0d0;
    font-weight: 600;
    line-height: 23px;
    padding-bottom: 20px;
}