@keyframes slideUp{
    from{
        transform: translateY(400px);
    }
    to{
        transform: translateY(0);
    }
    
}

.display_nav{
    display: block;
    margin-top: 78px;
    overflow-x: hidden;
}

#callshad{
    margin: 20px 0px;
    position: relative;
    left: 15%;
}


#calls_had{
    margin: 20px 0px;
    position: relative;
    left: 34.9%;
}

#apps{
    margin: 00px 0px;
    position: relative;
    left: 56%;
}

.bodycont{
    margin-top: 0px;
    animation: slideUp 1.2s ease-in-out;
}

.header{
    text-align: center;
}

.contcont_body{
    margin: 0px;
    /* background-color: #ededed; */
}

.cont_body{
    /* background-image: linear-gradient(to bottom,white,#e6e4e4); */
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    /* box-shadow: 0 0 100px rgb(40 39 39 / 100%); */
    padding: 5px;
    padding-top: 20px;
    overflow-x: scroll;
    padding-bottom: 60px;
    background-color: #fbfbfb;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 20px rgb(122 122 122);
}

.table_cont{
    display: block;
    position: relative;
    /* width: 90%; */
    /* margin: 0px auto; */
    border: 2px solid black;
    /* border-radius: 30px; */
    background-color: rgb(234, 234, 234);
    margin: 0px 40px 20px;
}

.header_cont{
    display: flex;
    height: fit-content;
    padding: 0px 0px;
}

.appcont{
    display: flex;
    height: fit-content;
}

.your_app_head{
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid black;
    padding: 5px;
    font-weight: bold;
}

.header_bank_cont{
    display: flex;
    border-right: 2px solid black;
    width: 20%;
    font-size: 16px;
    /* text-align: center; */
    padding: 10px 5px;
    font-weight: bold;
}

.bank_link_title>p{
    /* padding-left: 18px; */
    margin: 0px;
}

.header_banknotes_cont{
    display: inline-block;
    border-right: 2px solid black;
    width: 50%;
    font-size: 16px;
    /* text-align: center; */
    padding: 10px 5px;
    overflow-wrap: break-word;
    font-weight: bold;
}
.header_callshad{
    display: inline-block;
    border-right: 2px solid black;
    width: 10%;
    font-size: 16px;
    /* text-align: center; */
    padding: 10px 5px;
    overflow-wrap: break-word;
    font-weight: bold;
}

.header_thankyou_sent{
    display: inline-block;
    border-right: 2px solid black;
    width: 10%;
    font-size: 16px;
    /* text-align: center; */
    padding: 10px 5px;
    overflow-wrap: break-word;
    font-weight: bold;
}

.header_appdate_cont{
    display: inline-block;
    width: 10%;
    font-size: 16px;
    /* text-align: center; */
    padding: 10px 5px;
    overflow-wrap: break-word;
    font-weight: bold;
}


.bank_cont{
    display: flex;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 20%;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

.bank_apps{
    padding-left: 16px;
    color:#244f89;
}

.bank_apps:hover{
    padding-left: 16px;
    color: red;
}


.banknotes_cont{
    display: inline-block;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 50%;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    overflow-wrap: break-word;
}

.calls_had{
    display: inline-block;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 10%;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    overflow-wrap: break-word;
}

.thankyou_sent{
    display: inline-block;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 10%;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    overflow-wrap: break-word;
}

.appdate_cont{
    display: inline-block;
    border-top: 2px solid black;
    width: 10%;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    overflow-wrap: break-word;
}


@media(max-width: 1075px){
    .header_banknotes_cont{
        width: 40%;
    }
    .banknotes_cont{
        width: 40%;
    }
}

@media(max-width: 800px){
    .header_banknotes_cont{
        display: none;
    }
    .banknotes_cont{
        display: none;
    }
    .header_bank_cont{
        width: 25%;
    }
    .bank_cont{
        width: 25%;
    }
    .header_callshad{
        width: 25%;
    }
    .calls_had{
        width: 25%;
    }
    .header_thankyou_sent{
        width: 25%;
    }
    .calls_had{
        width: 25%;
    }
    .header_appdate_cont{
        width: 25%;
    }
    .appdate_cont{
        width: 25%;
    }
    .table_cont{
        margin: 0px;
    }
    
}