body{
    background-color: #ebebeb;
    margin: 0px;
    padding: 0px;
}

.header_cont{
    padding: 20px 40px;
    /* text-align: center; */
    align-items: center;
    display: flex;
}

.header_logo{
    height: 80px;
    display: inline-block;
}

nav {
  display: flex;
  align-items: center;
  /* height: 120px; */
  padding: 0 10px;
  color: #fff;
  display: inline-block;
}

.links {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin: 0 auto; */
  position: relative;
  left: 10px;
  /* margin: 10px 10px 10px 10px; */
  /* color: #244f89; */
}

.links a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #244f89;
  font-size: 18px;
  font-weight: bold;
  transition: color .3s;
}

.links a:hover{
    color: #7391ba;
}


.innernav_txt{
    margin: 0px;
    padding: 0px;
}

.current_nav{
    text-decoration: underline;
    font-weight: bold;
}

.dropdown_links{
    display: none;
}

.drop_up,
.drop_down{
  display: none;
  position: absolute;
  right: 35px;
  font-size: 45px;
  color: #244f89;
}

.dropdown_links{
  display: none;
  text-align: center;
  position: relative;
  right: 0px;
  margin-bottom: 25px;
}

.dropdown_links>a{
  text-decoration: none;
  font-size: 22px
}

.drop_innernav_txt{
  color: white;
  text-decoration: none;
  margin: 10px 100px;
}

.drop_current_nav{
    text-decoration: underline;
    font-weight: bold;
}

@media(max-width: 1056px){
  .links {
    left: -10px;
  }
}

@media(max-width: 935px){
  .links{
    left: 0;
  }
}

@media(max-width: 900px){
  .links{
    display: none;
  }
  .drop_up{
    display: block;
  }
  .logocont{
    margin: 0 auto;
    left: 0;
  }
}

@media(max-width: 350px){
  .dropdown_links>a{
    text-decoration: none;
    font-size: 22px
  }
}